/* 레이아웃 확인용 */
* {
    border: px solid red;
}

/* 공통 사항 */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style-type: none;
}

/* 헤더 CSS */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1280px;
    margin: 0px auto;
    padding-bottom: 30px;
    padding-top: 5px;
}

.head-logo {
    flex: 0 0 auto;
}

.head-logo>img {
    justify-content: flex-start;
}

.head-join {
    display: flex;
    justify-content: flex-end;
    font-size: 15px;
}

.head-nav {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 20px;
}

.head-nav>li {
    margin-top: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
}

/* 히어로이미지 CSS */

#hero>img {
    width: 100%;
}

/* 본문 CSS */

#main {
    display: flex;
    justify-content: space-between;
    width: 1280px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 80px;
}

.main-sidebar {
    width: 250px;
}

.title {
    background-color: #0ca9a2;
    color: white;
    padding: 8px;
}

.searchbox {
    margin-top: 5px;
    display: flex;
}

.search-input {
    display: flex;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid black;

}

.search-btn {
    padding: 5px;
}

.sub-title {
    border-top: solid 2px black;
    border-bottom: solid 0.1px rgb(225, 224, 224);
    margin-top: 30px;
    padding: 10px 0;
    font-size: 18px;
}

.sub-menu {
    padding: 3px;
}

/* 본문 사이드바 종료 */

/* 본문 게시판 시작 */

.main-content {
    display: flex;
    justify-content: space-between;
    width: 1000px;
}

.main-content-left {
    width: 490px;
}

.main-content-right {
    width: 490px;
}

.main-content-title {
    border-bottom: 2px solid black;
    margin-bottom: 8px;
    padding-bottom: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.main-content-title2 {
    margin-top: 30px;
}

.board-title {
    display: inline-block;
    margin-top: 8px;
}

.date {
    text-align: right;
    justify-content: space-between;
}

.bakeclass-container {
    display: flex;
    flex-wrap: wrap;
}

.bakeclass {
    margin: 20px;
}

.bakeclass > a > li> img{
    width: 180px;
}

.alert>li>a {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

.board>li>a {
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
    align-items: center;
}

.date {
    text-align: right;
}

/* 푸터 CSS */

#footer-BG {
    background-color: #05344e;
    color: white;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.footer-nav {
    display: flex;
    margin-bottom: 20px;
}

.footer-nav>li {
    padding-right: 50px;
}

.footer-nav>li>a {
    color: white;
    font-size: 14px;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}