.title{
    font-family: "궁서";
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
}

.firstsentence{
    font-family: "";
    color :blue;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 5px;
    line-height: 150%;
    text-shadow: 0 0 0.5px blue;
}

.nelson{
    text-align: center;
    color : red;
    text-decoration: underline overline line-through;
    line-height: 150%;
    font-size: 15px;
}

.think{
    text-align: center;
    color : red;
    font-weight: bold;
    text-decoration: underline overline line-through;
    font-size: 25px;
    text-shadow: 1px 1px 5px gray ;
}

.secondsentence{
    font-family: "";
    color :blue;
    font-weight: bold;
    word-spacing: 10px;
    letter-spacing: 5px;
    line-height: 150%;
    text-shadow: 0 0 0.5px blue;
}

.lastword{
    text-align: center;
    color : red;
    text-decoration: underline overline line-through;
    font-size: 15px;
}

.font-high { font-size: 30px;}
.font-middle { font-size: 20px;}
.font-low { font-size: 10px;}
/* class는 마지막에 입력한 거 반영. 이런식으로 폰트 사이즈 후처리 가능 */




